@model IEnumerable<ProyectoHotelFE.Models.PagoModel>

@{
    ViewData["Title"] = "Listado de Pagos";

    var metodosDePago = new Dictionary<int, string>
{
        { 1, "Tarjeta de Crédito" },
        { 2, "Efectivo" },
        { 3, "Transferencia" }
    };
}

<!-- Encabezado de Contenido (Encabezado de página) -->
<h1>Listado de Pagos</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<!-- Contenido Principal -->
<section class="content">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between align-items-center mb-3">
            <div>
                <a asp-action="AbrirCrearPago" asp-controller="Pago" class="btn btn-success mb-3">
                    <i class="fa fa-plus"></i> Crear Nuevo Pago
                </a>
            </div>
            <div>
                <form asp-action="FiltrarListaPago" method="get" class="form-inline">
                    <input type="date" name="fechaPagoBuscar" class="form-control mr-2" placeholder="Buscar por fecha..." />
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="table-responsive">
                        <div class="container p-3 mb-3 bg-light rounded" style="width: 100%;">
                            <!-- Contenedor con fondo sólido -->
                            <table id="pagosTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Reserva</th>
                                        <th>Monto</th>
                                        <th>Fecha de Pago</th>
                                        <th>Método de Pago</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.pagoID)</td>
                                            <td>@(item.reservaID == 0 ? "Multa" : item.reservaID.ToString())</td>
                                            <td>@String.Format("{0:C}", item.monto)</td>
                                            <td>@String.Format("{0:dd/MM/yyyy}", item.fechaPago)</td>
                                            <td>@metodosDePago[item.metodoPagoID]</td>
                                            <td>
                                                <a asp-action="AbrirEdicionPago" asp-route-pagoID="@item.pagoID" class="btn btn-default btn-xs">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="javascript:void(0);" onclick="confirmarEliminacion('@Url.Action("BorrarPago", new { pagoID = item.pagoID })')" class="btn btn-danger btn-xs" style="margin-left:2px">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div class="row mt-3">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="pagosTable_info" role="status" aria-live="polite"></div>-->
                    <!-- Información de paginación -->
                    <!--</div>
                        <div class="col-sm-7 text-right">
                            <div class="dataTables_paginate paging_simple_numbers" id="pagosTable_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous" id="pagosTable_previous">
                                        <button class="btn btn-primary" aria-controls="pagosTable" data-dt-idx="0" tabindex="0">Anterior</button>
                                    </li>
                                    <li class="paginate_button active">
                                        <a href="#" aria-controls="pagosTable" data-dt-idx="1" tabindex="0">1</a>
                                    </li>
                                    <li class="paginate_button next" id="pagosTable_next">
                                        <button class="btn btn-primary" aria-controls="pagosTable" data-dt-idx="2" tabindex="0">Siguiente</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.0/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.0/datatables.min.js"></script>
    <script src="~/js/scripts.js"></script> <!-- Ruta del archivo scripts.js con el mensaje compartido de borrado -->
    <script>
        $(document).ready(function () {
            $('#pagosTable').DataTable({
                "pageLength": 10, // Número de entradas mostradas por página
                "language": {
                    "lengthMenu": "Mostrar _MENU_ entradas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": " > Siguiente",
                        "previous": "Anterior < "
                    }
                },
                "dom": '<"top"l>rt<"bottom"ip><"clear">' // Controla la disposición de los elementos en la tabla y elimina el search
            });
        });
    </script>
}
